
@{
    Layout = "~/shared/_layout.cshtml";    
}

<a href="/b">goto b</a>
<a href="/c">goto c</a>

@section BottomScripts {
        
    <script>
        $(document).ready( function () { 
            

            
        });
        
    </script>
}        
