@{
    Page.Title = "xhr with JSON";
}

@section scripts {
    <script>

/*
    function to handle the callback. 
    We're just going to take the results and append them to the body.
*/
        var callback = function(e) {
            var data = JSON.parse(this.responseText);
            $('#results').text(data.d.Title);
        }
        
/*
    The following is the actual xhr setup and call. 
    We're just calling a site and getting back the results. Nothing Special.
*/
        var xhr = new XMLHttpRequest();
        
        xhr.open('GET', 'http://developersmackdown.com/services/odata/Shows(PodcastId=1,ShowId=54)');
        xhr.setRequestHeader('accept', 'application/json');
        xhr.onload = callback;
                
        xhr.send();    
    
    </script>
}
<div id=results></div>