@{
    Page.Title = "obj.toJSON";
}

@section scripts {
    <script src="/scripts/sampleJSON.js"></script>
    <script>
        
        sampleJsonObj.toJSON = function () {
            alert('in custom serializer');  
            return 'foo';
        };
          
        var results = JSON.stringify(sampleJsonObj);
        
    </script>
}

<div id=results></div>