<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        
        <title>MSDN Magazine - History Lesson</title>
        <meta name="author" content="Clark Sell"/>
         
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script> 
        <script type="text/javascript" src="/scripts/knockout-2.1.0rc2.js"></script>
        
    </head>
    <body>
        @RenderBody()
       
        @RenderSection( "BottomScripts", false )
        
    </body>
</html>